# Linear Algebra

#### Importing Packages
Python has an extensive collection of third-party libraries, or ***packages***, with additional functions, data-structures, etc.  Many (most?) packages of interest are hosted on the Python Package Index ***pypi***, and can be installed into your environment using ***pip***.  The Anaconda distribution in the pre-work includes a number of these that are useful in data science, so you should have most of them installed already.  

ref:  https://pypi.python.org/pypi

A note on namespaces when importing - there are a few different ways to import:

    1. import numpy

    - all submodules of numpy are accessible in the numpy namespace
    - e.g. numpy.array([1,2,3])


    2. import numpy as np

    - same as 1 except an alias 'np' is created for the namespace instead
    - e.g. np.array([1,2,3])


    3. from numpy import *

    - adds all submodules to global namespace
    - e.g. array([1,2,3])
    - Note: This can be dangerous because if different modules have submodules with the same name than whatever is imported last will overrite what came before it - i.e. naming collision -> overwriting!.
    
    4. from numpy import array
    
    - will import only the indicated submodules into the global namespace
    - e.g. array([1,2,3])
    - Note: can be ok since you are being explicit
    
    We will generally use 2 and 4 (sparingly)

### NumPy

As we've seen in lecture, linear algebra is the branch of mathematics describing navigation between different vector spaces. This core concept is very important as various data science techniques rely upon it (e.g. Linear Regression, Support Vector Machines, Recommender Systems, Neural Networks).

NumPy is a package designed to be used in scientific computing, and specifically around building and manipulating N-dimensional array objects.

In [2]:
import numpy

import numpy as np

from numpy import absolute

# The next one is dangerous to do, and not recommended 
# except in cases where you know why you're using it
# from numpy import *

Now we can do the same thing three ways

In [3]:
print numpy.absolute(-10) ## absolute is a method
print np.absolute(-10)
print absolute(-10)

10
10
10

We can create the Linear Algebra Objects we saw in lecture

In [5]:
vector = np.array([1, 2, 1])
vector

array([1, 2, 1])

In [6]:
data = np.array([[1, 2, 3],[2, 4, 9]])
data

array([[1, 2, 3],
       [2, 4, 9]])

In [19]:
v = np.array([[1],[2],[1]])
v

array([[1],
       [2],
       [1]])

In [7]:
data[0]  # first row

array([1, 2, 3])

In [15]:
data[ : , 1]  # all rows, second column # number after colon will specify location

array([2, 4])

Numpy lets us perform matrix operations

In [16]:
np.dot(data, vector)

array([ 8, 19])

We can transpose an array

In [20]:
print data
print data.T

[[1 2 3]
 [2 4 9]]
[[1 2]
 [2 4]
 [3 9]]

In [23]:
np.arange(25)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

#### Creating a square matrix array

In [22]:
a = np.arange(25).reshape(5,5)
# arange(n) is a function that creates a 1 row array of integers of length n 
# reshape(M,N) is a method converts a list to a matrix of size MxN
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [24]:
biga = a*10
biga

array([[  0,  10,  20,  30,  40],
       [ 50,  60,  70,  80,  90],
       [100, 110, 120, 130, 140],
       [150, 160, 170, 180, 190],
       [200, 210, 220, 230, 240]])

In [25]:
print biga.mean()
print biga.mean(0) #Average per column
biga.mean(1) #average per row
# type(biga.mean(1))

120.0
[ 100.  110.  120.  130.  140.]

array([  20.,   70.,  120.,  170.,  220.])

In [29]:
biga.mean(1)

array([  20.,   70.,  120.,  170.,  220.])

Creating a matrix with numpy

In [30]:
bigm = np.matrix(biga-20)
bigm

matrix([[-20, -10,   0,  10,  20],
        [ 30,  40,  50,  60,  70],
        [ 80,  90, 100, 110, 120],
        [130, 140, 150, 160, 170],
        [180, 190, 200, 210, 220]])

Creating the Inverse of a Matrix

In [31]:
np.linalg.inv(biga-20)

array([[ -2.81474977e+13,   2.22222222e-02,   5.62949953e+13,
          0.00000000e+00,  -2.81474977e+13],
       [  3.51843721e+13,   0.00000000e+00,  -5.27765581e+13,
         -3.51843721e+13,   5.27765581e+13],
       [ -4.22212465e+13,   9.38249922e+13,  -7.97512434e+13,
          4.69124961e+13,  -1.87649984e+13],
       [  9.14793674e+13,  -1.87649984e+14,   9.26521798e+13,
          1.17281240e+13,  -8.20968682e+12],
       [ -5.62949953e+13,   9.38249922e+13,  -1.64193736e+13,
         -2.34562481e+13,   2.34562481e+12]])

#### Slices

In [32]:
type(bigm)

numpy.matrixlib.defmatrix.matrix

In [33]:
bigm = np.array(bigm)
print bigm
bigm[0]

[[-20 -10   0  10  20]
 [ 30  40  50  60  70]
 [ 80  90 100 110 120]
 [130 140 150 160 170]
 [180 190 200 210 220]]

array([-20, -10,   0,  10,  20])

In [34]:
#Same thing, but demonstrating the full slice with a colon
print biga
biga[0,:]

[[  0  10  20  30  40]
 [ 50  60  70  80  90]
 [100 110 120 130 140]
 [150 160 170 180 190]
 [200 210 220 230 240]]

array([ 0, 10, 20, 30, 40])

In [39]:
biga[:,2]

array([ 20,  70, 120, 170, 220])

#### Describing your Arrays

In [40]:
compa = np.arange(30).reshape(5,3,2)
compa

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]],

       [[24, 25],
        [26, 27],
        [28, 29]]])

In [41]:
# lets describe it
print compa.shape
print compa.ndim
print compa.dtype

(5, 3, 2)
3
int64

In [42]:
compa[3,:,1]

array([19, 21, 23])

In [44]:
# We can assign values using list-like index
# But be careful on types
compa[0,0,0] = 5.9
compa[0,0,0]

5

We can change the datatype when needed

In [45]:
compa = compa.astype(float)
compa[0,0,0] = 5.75
compa[0,0,0]

5.75

#### Stacking arrays

You must stack using dimensions of the saem size

In [47]:
a = np.array((1,2,3))
b = np.array((2,3,4))
print 'H Stack'
print np.hstack((a,b))
print 'V Stack'
print np.vstack((a,b))

H Stack
[1 2 3 2 3 4]
V Stack
[[1 2 3]
 [2 3 4]]

In [48]:
a = np.array([[1],[2],[3]])
b = np.array([[2],[3],[4]])
print 'H Stack'
print np.hstack((a,b))
print 'V Stack'
print np.vstack((a,b))

H Stack
[[1 2]
 [2 3]
 [3 4]]
V Stack
[[1]
 [2]
 [3]
 [2]
 [3]
 [4]]

### Using Random Numbers

Random numbers are very helpful and are necessary at times for testing data pipelines and running statistical analyses. Functions for creating random values are under numpy.random.

In [49]:
#Create a randomized array
rm = np.random.rand(5,5)
rm

array([[ 0.39061437,  0.23591475,  0.05679977,  0.20119137,  0.57851436],
       [ 0.88754211,  0.49599677,  0.46333454,  0.5909792 ,  0.95600652],
       [ 0.906349  ,  0.05369232,  0.9509672 ,  0.25425329,  0.67763412],
       [ 0.92993601,  0.19299255,  0.16338799,  0.78138755,  0.19861134],
       [ 0.74372619,  0.06216616,  0.17597336,  0.20912107,  0.47518434]])

In [50]:
rm.shape

(5, 5)

You can shuffle values randomly as well

In [51]:
# This will shuffle along the first index of a multi-dimensional array
np.random.shuffle(rm)
rm

array([[ 0.92993601,  0.19299255,  0.16338799,  0.78138755,  0.19861134],
       [ 0.88754211,  0.49599677,  0.46333454,  0.5909792 ,  0.95600652],
       [ 0.906349  ,  0.05369232,  0.9509672 ,  0.25425329,  0.67763412],
       [ 0.39061437,  0.23591475,  0.05679977,  0.20119137,  0.57851436],
       [ 0.74372619,  0.06216616,  0.17597336,  0.20912107,  0.47518434]])

In [52]:
print rm.mean()
print rm.mean(0) #Average per column
print rm.mean(1) #average per row

0.465291049276
[ 0.77163354  0.20815251  0.36209257  0.40738649  0.57719014]
[ 0.45326309  0.67877183  0.56857918  0.29260692  0.33323423]

In [53]:
# for a different Normal Distribution, use np.random.normal
rm = np.random.normal(5,9,(30,30)) #shift+tab
rm

array([[  3.51989643,  17.9537582 ,   7.8046342 ,  -6.11486712,
          2.0797233 ,   3.07614732,   4.20661469,   7.48296273,
          3.16099674,  -0.6479346 ,  10.97704437,   6.83587785,
          6.50532395,  -4.30138935,  14.44216677,  -6.41755407,
         -2.01697277,   9.36841953,  30.35378261,   3.00832808,
         13.01566778,   5.65678521, -11.05000728,   0.78576317,
          0.58624607,  13.16055363,   0.06342776, -19.27873593,
          4.0881701 ,   0.55266206],
       [  0.61662899,  -6.86934124,  11.20793801,   9.70341177,
         -7.14535816,   3.6239116 ,  -2.35356859,  -4.24953058,
          7.49802508,   3.2163933 ,  -1.09328063,  -1.36393225,
          2.55367756,   4.75822448,   7.25577113,  14.60085747,
         17.70541473,   4.60433785,   9.85439393,  16.23116938,
          9.79818441,   0.84167106,  10.78112979,  -3.34739437,
         10.3897669 , -21.31229323,  -1.73180367,   2.13663391,
         -7.11044053,   3.48084037],
       [  4.6084203 ,  15.18228264,  17.26145172,   5.73623344,
          3.50347977,  20.15611394,   7.12391819,  12.16299562,
          7.57915038,  10.99912573,  10.59350589, -16.74003252,
         10.36035311,   1.75000138,   9.93031027,   6.66746155,
         -0.22087734,   9.71831262,  13.48005821,   0.75001535,
         14.7974421 ,  17.59164302,   4.99610301,  11.44781098,
         11.69172098,  -2.84714958,   1.85050631,   6.85020038,
          7.52766773,  -2.9158102 ],
       [ -2.28595322,   6.50268232,  -9.08678814,  18.29829986,
         -2.47670273,   9.53984863,   3.23734417,  -0.39432403,
         -1.62111196,   9.03429964,  12.89134297,   5.84149304,
         14.47433384,  17.90782574,   8.68577844,   8.33012534,
          3.78582413,  17.61613895,   3.77093001,   3.38740355,
         -9.14487393,   2.83955458,  -1.2632655 ,  19.55035208,
          9.1901897 ,  11.38876402,  -0.37993308,   7.55492803,
          9.52435367,  -3.99500179],
       [  4.36133564,  -1.45827485,  -7.00627384,  10.41259082,
         10.96105871,  11.12434929,  27.97140582,   9.25080679,
         -5.56891626,   0.50590912, -10.7027681 ,   6.99176817,
          9.30880127,   6.68833908,  12.44834459,  31.43932187,
         16.6503868 ,  22.94523397,  -2.52727549,   7.67824925,
          8.17379915,   2.81843829,  20.111034  ,  -0.04533331,
          3.4764198 ,   4.66703946,   0.92451737,  17.50218294,
         12.82181314,   4.3062427 ],
       [ 18.87349039,  16.8922845 ,  14.27414269,  14.18412294,
          8.94603884,  -3.35589377,  12.88802851,   6.83476369,
        -20.74109325,   7.59338372,  -4.21403063,   1.1906471 ,
         14.68130497,   7.57657258,  14.44338597,  -5.42708132,
          8.9643602 ,  12.93757828,   9.36167434,   5.87440917,
         10.02074239,   7.12547482,  10.40090348,  -5.10389477,
          7.08996201,  24.48330863,  -6.43325437, -10.56648837,
         12.16792386,   3.163451  ],
       [  7.64830855,   9.70301247,  -5.27789339,  -4.83421715,
          0.35365992,  13.76213963,  -1.20611608,   8.80630589,
         -0.75430313,   7.32614786,  11.97937485,   9.31923396,
         16.94301288,  -1.1481857 ,  21.33969012,  10.17814423,
          5.17592964,   8.51320776,  18.85447637,  11.74217418,
         15.17080701,  -9.84113749,   0.42715975,   3.70832262,
          7.57349466,  -5.27106426,  -0.72234059,  -0.88369577,
          7.31398892,   1.32277551],
       [ 12.09724859,  20.19030184,  12.48660869,   6.97300028,
          9.19376605,  20.45459072,  -6.87679258,  27.76825816,
         -5.92618747,   9.00745249,   7.92792657,   4.93062945,
         27.26112162,  -0.28608637,  10.62848615,   4.16157071,
         -3.78134837,  13.7271401 , -15.63175707,  12.04292346,
         10.32305161,  -9.33457705,  19.50176128,   6.68550571,
         13.01068382,  15.4533286 ,  -1.82789027,   1.91018468,
         -2.16937737,   5.333624  ],
       [  6.43412683,   4.60815792,  -8.18576633,   2.86496346,
          5.60826391,  12.17467024,   8.19851291,   9.25020817,
          6.92826913,   2.07690099,  -3.26842919,   2.67228663,
         -8.64652953,  -7.31556221,  -0.28108349,  -2.12404285,
         11.97698164,  15.57143849,  14.49239868,   4.09973927,
         -0.6253675 ,  11.36770847,  -9.02563823,  12.04282263,
          3.39496157,  10.80978226,  13.15527423,  -3.82073822,
         -2.3746978 , -16.10299031],
       [  9.85743854,  -0.65591904,  -2.00720509,   8.86296628,
         17.22540755,   2.69122023,   3.74540179,   8.83400026,
          2.92952438,  27.78107776,   8.81795439,   5.76042041,
          2.88861137,  -2.31215674,  -4.2117134 ,   1.29547729,
          5.16886623,   8.71923479,   4.06114406,  12.27500615,
         15.06162411,  -1.44442979,  15.65678507,  -3.13301838,
        -12.7763357 ,   6.36216827,  10.90418013,  -6.05651493,
          8.98446673,   9.06288611],
       [  3.95862818,  16.21203351,  -0.065925  ,  17.92319481,
          4.0927258 ,  12.69029102,  13.57197869,   9.1640405 ,
         24.680977  ,  11.64939191,  -0.12076732,  11.54814607,
          7.82801137,   5.80448986,  -2.8014316 ,   8.6637756 ,
         -0.80797069,  13.22503465,  -2.62921505,   1.21412439,
          3.64232357,  16.38056238,   7.99340763,   0.0719731 ,
         -5.69704188,  -4.49740774,  24.7034424 ,   7.29873974,
         -0.1252063 ,  -5.97293086],
       [ 16.50286912,   2.19351241,   7.63831634,   3.92028817,
          3.27466895,  10.75568511,  15.61526593,   2.62113154,
         -2.0669589 ,   1.37057393,  -5.53316609,   8.36150582,
         24.02638369,  -2.42571147,  -4.09078079, -15.70141919,
         11.26652719,  16.95861636,  13.54054324,  -0.53699769,
        -10.11264008,   9.29427827,   9.4157432 ,  -2.50541692,
         11.74507216,  -7.84289888,  -0.66313185,   1.73374971,
         25.81920766,   2.92467962],
       [  7.40402414,   7.53471778,  -2.87586349,   9.18914501,
          8.82630071,  -8.38714932,   0.7413749 ,   5.92586364,
          2.77134187,  12.8693216 , -11.2733852 , -10.84055516,
         13.14800127,  10.33657739,   2.90080562,   2.91357293,
          6.44566612,   5.25008037,  10.9061542 ,  -1.60133634,
          8.57068912,  10.81890915,   6.83368263,  -5.19833442,
         18.14370476,   6.75343537,   6.90387562,  10.73539448,
          6.38980601,  -2.86100808],
       [ 11.28820753,  14.93920323,  19.94566283,  17.79316143,
         22.78847523,   8.56773932,  12.29400502,   9.47517526,
         16.19008134,   3.24432319,  11.26974962,   2.92387248,
          8.29869996,   7.86893083,   8.53554887,   8.65425761,
        -17.5217624 ,   8.0154114 ,   7.98926937,  17.01682157,
        -15.87583175, -17.86261833,  -6.75558185,  -0.8908556 ,
        -10.75573668,   3.31261471,   6.7203994 ,   2.48744456,
          8.73625478,  -4.47997525],
       [ 12.85854254,   5.98181965,   3.91509302,  18.86489946,
         -1.28465054, -14.30192734,  -8.88812498,  10.14706318,
         -8.31951094,  -4.43002344,  -5.68674731,   7.02532067,
          3.71598033,  -6.52184989,  21.15267692,   6.6247583 ,
         14.14501829,   5.39761711,  -0.41055054,  -6.06713113,
        -10.15006725,   2.84140199,  -8.93608052,   8.92675468,
          3.04958985,   5.71240634,   1.22945035,   6.32565089,
        -14.87648029,  -5.2612639 ],
       [ 10.12811212, -12.55819538,   5.05663697,   3.43760045,
         11.0293028 ,  20.84303145,  -1.13500187,   3.92737037,
          2.69008671, -21.67334198,   1.36549635,   3.66755491,
          6.02397679,  -0.55377903,  15.05633703,   8.57992629,
         20.92613907,  -3.72273424,  11.76671556,  14.86496119,
          4.38597694,   3.57883376,   0.31175519,  10.19572543,
          1.11239893,   3.21306842,  -0.63493652,  -5.45510568,
         -3.89876289,   6.28975018],
       [  4.87316966,  13.84926593,  -3.91263171,   7.85688428,
         -2.04344361,   9.08310447,  -0.78923997,  16.97157007,
         17.22596703,   3.9357302 ,  12.88612448,   4.81552193,
         13.42093706,  10.04994612,  15.7060102 ,  -3.39541738,
        -11.59414125,   2.81406608,  14.87080728,  -7.30672275,
         16.06874509,  -2.3730084 ,   9.68727807,  14.9476722 ,
          1.07775723,   5.67831534,  18.65901973,  12.65246131,
          2.62495122,   8.73610212],
       [  3.42677896,  -9.56965598,   4.83786857,   7.17111942,
         -3.26384052,  15.08059185,  18.63426974,  -3.60850953,
          4.8053255 ,   4.05969476,  12.06072706,   7.14556407,
          6.8248395 ,  13.46694406,   4.31178144,   0.61503463,
         13.31942195,  -4.08274919,   2.96491391,  18.43547764,
          2.6520954 ,  11.77830341,   1.99822472,   0.89666819,
          1.68214046,  22.00947207,  -1.99170238,   2.88723498,
         15.06588488,   3.56556336],
       [-10.14787379,  -4.1807792 ,  -4.50632174,   7.90007107,
         -2.76758944,  -7.84198496,   6.47306625,   7.86407055,
         15.57406974,   2.31093092,   8.60460376,   3.11452416,
         -4.18476743,   1.3035831 ,  21.13586572,   3.85104096,
          8.1217444 ,  -8.14433385,  -1.12838925,   0.86167363,
         -8.12795987,  -6.12016674,  -7.4693188 ,  18.28221072,
          5.75769381,  -1.7855808 ,   7.96354319,  15.07379908,
        -17.85549843,  -2.04400996],
       [ -7.41615062,   9.251386  ,   0.49249991,  -9.00671306,
         20.15518764,   9.06766546,   5.97773272,  -3.42730658,
         -0.18834853,  15.26430021,  -2.09283209,  10.93669739,
         -1.80774811,   6.44486409, -10.61037703,   9.56072061,
          9.43592987,  -2.7649165 ,  12.19303604,   6.25986415,
         11.96567375,  10.92089026,  28.62997483,  -1.30057739,
         -6.33247982,  14.76335927,  -9.84314071,   4.88030998,
          9.7709862 ,   9.29048453],
       [ 14.62553374,   4.34153367,   7.23204009,  -4.3842577 ,
          3.6896618 ,  -8.65861536,  -3.35143167,   7.38240002,
         13.34719345,   1.87242636,   3.27819206, -14.23934255,
         15.46629561,   7.51432563,   7.30966336,  -0.74031655,
         10.76617837,   7.09866653,  -2.3918138 ,   2.40085517,
          7.694591  ,   9.98373774,  -6.46527547,   3.6025785 ,
          7.02684498,  -1.96933391,   9.66547129,   6.40646117,
         -2.19516374,  -3.4987763 ],
       [ 11.16884001,   1.06693478,  16.77446788,  12.11756483,
          0.4427142 ,  11.34829643,   3.34738979,   7.40545349,
         15.31465715,  10.95744441,   3.44296339,  -0.31350717,
         -1.56622603,  13.15433194,   3.99070639,   5.95798354,
         16.58311399,  12.6795278 ,   3.01861416,   9.42888404,
         10.41853685,   6.01996621, -18.49109129,  17.42202102,
         10.96845   ,   2.44563783,  21.20404559,   4.56669127,
          3.90749917,   6.66171858],
       [  8.96885429,   1.28144027,  -7.52159041,  16.35027952,
        -11.57700818,  10.81814701,  -3.64950711,  14.32043509,
        -10.55758301,   2.78802807,  -3.07560704,   1.39827755,
          7.195895  ,  22.39198806,  -2.34433688,  14.7810657 ,
          6.12648947,   3.40333525,  -9.27874397, -12.02070537,
         -4.61257657,  16.9265469 ,   3.12808731,   2.7934067 ,
          2.16457359,  20.40947595,   7.15722319,   4.93586802,
          9.25274645,  -5.28319486],
       [  5.18349632, -11.25077808,  10.13566779,   7.85242215,
          8.08294817,   7.33628108,  29.91634733,  15.38303937,
          0.25257651,  19.15214083,   7.21790624,   5.80516483,
         12.44238398,   5.72465652,  -0.07952894,   3.66474586,
          6.67383792,   3.19026233, -14.84721578,   7.11418783,
          3.1680197 ,   3.56573133,  11.02695145,  -5.68895713,
         -7.82769784,   6.17299627,  14.72910308,  11.38939747,
          4.28112772,   2.35045501],
       [  5.77826252,  -6.02092407,  13.72273068,   8.18007811,
         -3.96259294,  -1.62919888,  -6.91913173,   7.25455775,
          6.2790362 ,  -3.45870297,  -3.7938584 ,  14.6156524 ,
         12.61804767,   2.26775842,   8.50150269,  13.45383197,
         -0.0611295 , -13.55073284,   5.41936914,  13.30175215,
          3.46438129,  -9.55590416,   8.60248031,   6.45986275,
          2.51383128,   5.88263665,   7.66048071,   0.85187785,
          9.13357966,   8.47117956],
       [  8.45918948,  -3.71473413,   2.57028164,   2.21085462,
          7.14569519,   8.79676841,   1.04233454,  17.5674432 ,
         10.05993822,   7.54011858,  17.90405797,   5.2784645 ,
          9.92298405,   9.69228669,  -7.93651592,   6.69619326,
          9.74474711,   2.00646152,  12.43912704, -19.64245675,
         11.17947435, -21.02507005,  -9.04037213,  10.04761088,
         -6.91694889,  -6.73042269,  -7.97525371,  -0.09309429,
         16.32254994,  -6.50768361],
       [ 26.00772461,  15.69856898,   3.20254353,   1.74399722,
         -0.37126009,   9.81531887,  -4.12159506,   2.34972673,
          3.11991529,   2.0383225 ,  17.53566921,  14.56827364,
          4.43771629,  -5.50853654, -15.95989774,  10.07961665,
         -8.90137077,   8.78534698,  11.19961407,   8.17936062,
          2.10960967,  -7.14956167,   9.47452339,  12.84819152,
          7.70978192, -15.07885948,   0.31548093,   2.18380357,
          6.55160018,  -9.02089907],
       [ 20.12809155,  12.7262076 ,  -9.406755  , -10.66573435,
         -1.35760633,   9.83169038,  10.28487657,  -4.27940749,
          4.53221314,  -4.34922954,   3.62568681,  -3.52428137,
         13.1667846 ,  -4.83498584,  -3.06787822,  -4.47505247,
          9.21306345,  -0.32611301,  11.45337451,   0.89207376,
          3.44373436,  -1.64511636,  -2.18640196,   5.22182432,
         10.37775069,  20.22411366,   0.66105147,  12.23899169,
         -8.8280036 ,   8.86095351],
       [  2.09541189,  -4.37706449,   8.92366033,   6.55311579,
         -2.41950302,   3.26738334,   8.04340367,   0.29816711,
          4.34590857,  16.97964727,   8.11727774,   9.74108914,
         -1.16863391,   9.78162912,   8.45640261,  23.18443405,
          0.3520485 ,  12.1948706 ,   3.28730765,  11.87675475,
          7.09445125,  10.93540959,   5.61280504,   5.66720712,
         -3.2321012 ,   4.3676532 ,   7.03149452,   2.2220237 ,
         -8.19305417,  18.33907417],
       [ 13.41078747,  -4.22981493,   8.92858499,   1.88533191,
         -1.15047236,   0.46909634,  20.3075177 ,   9.99068122,
         -0.05802301,   3.29742914,   6.86497496,  11.11035112,
          5.6411979 ,   6.8359873 ,  -7.09162588,  -1.63426574,
          6.2641296 ,  -1.1142943 ,   6.66341159,   5.68538373,
         -4.05108085,   3.49297056,   1.76419202,   5.6155474 ,
         10.0106026 ,  21.59523451,   5.39753443,   4.2195115 ,
         11.38432221,  -3.17645422]])

In [54]:
print rm.mean(), "which is hopefully close to the input mean"
print rm.var(), "which variance = stdev squared"
print np.median(rm)

4.92267602467 which is hopefully close to the input mean
74.6004305611 which variance = stdev squared
5.61417622161

Find more distributions and random functions here: http://docs.scipy.org/doc/numpy/reference/routines.random.html

### Exercise 1

1) Create a 4x5 array of integers between 0 and 19

In [60]:
a = np.arange(20).reshape(4,5)
print a
print a.shape

[[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]
(4, 5)

2) Create a 50x500 array with a mean of 20 and variance of 100. Save it to a variable called  biggie

In [70]:
biggie = np.random.normal(20,10,(50,500))

In [71]:
print biggie.mean()
print biggie.var()
print biggie.std()

20.0334351493
100.833731456
10.0416000446

3) Change the mean of the array to a value within 1 of 0 and the variance within 1 of 25. Think about what the mean and the variance represent and try using various mathematical operations.

In [92]:
biggie = biggie-20
biggie = biggie/2

print biggie.mean()
print biggie.var()

-18.7479103032
0.3938817635

## Pandas (python package)

Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.

Pandas is great for tabular/indexed data

In [1]:
# NOTE: you should normally put all your imports at the top of the file
import pandas as pd

In [2]:
data = pd.read_csv('../data/nytimes.csv')

In [3]:
# Note here we're calling the head method on the dataframe to return the 'head' of the 
# dataframe, in this case the first 4 lines
# head() actually creates a new copy of the data, this is important later in the course!
data.head(4)

   Age  Gender  Impressions  Clicks  Signed_In
0   36       0            3       0          1
1   73       1            3       0          1
2   30       0            3       0          1
3   49       1            3       0          1

In [4]:
data[0:4] ## prints row-wise

   Age  Gender  Impressions  Clicks  Signed_In
0   36       0            3       0          1
1   73       1            3       0          1
2   30       0            3       0          1
3   49       1            3       0          1

In [5]:
# Each DataFrame has an index
# Sometimes you will need to reindex
data.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], dtype='int64')

In [6]:
data.tail(4)

        Age  Gender  Impressions  Clicks  Signed_In
458437    0       0            4       0          0
458438   72       1            5       0          1
458439    0       0            5       0          0
458440    0       0            3       0          0

In [7]:
# This is a Series
# A DataFrame is made of of several Series with the same index
data.Age

0     36
1     73
2     30
3     49
4     47
5     47
6      0
7     46
8     16
9     52
10     0
11    21
12     0
13    57
14    31
...
458426    49
458427    43
458428    40
458429    49
458430     0
458431    21
458432    30
458433    21
458434    61
458435    51
458436     0
458437     0
458438    72
458439     0
458440     0
Name: Age, Length: 458441, dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458441 entries, 0 to 458440
Data columns (total 5 columns):
Age            458441 non-null int64
Gender         458441 non-null int64
Impressions    458441 non-null int64
Clicks         458441 non-null int64
Signed_In      458441 non-null int64
dtypes: int64(5)
memory usage: 21.0 MB

In [9]:
data.describe()

,Age,Gender,Impressions,Clicks,Signed_In
count,458441.000000,458441.000000,458441.000000,458441.000000,458441.000000
mean,29.482551,0.367037,5.007316,0.092594,0.700930
std,23.607034,0.481997,2.239349,0.309973,0.457851
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,3.000000,0.000000,0.000000
50%,31.000000,0.000000,5.000000,0.000000,1.000000
75%,48.000000,1.000000,6.000000,0.000000,1.000000
max,108.000000,1.000000,20.000000,4.000000,1.000000

In [10]:
data.Age.values

array([36, 73, 30, ..., 72,  0,  0])

In [11]:
# We can change this data into numpy
type(data.Age.values)

numpy.ndarray

#### Just like in numpy, we can use mean, var, and other functions on the data

In [12]:
print data.Age.mean()
print data.Age.var()
print data.Age.max()
print data.Age.min()

29.4825506445
557.292044027
108
0

In [13]:
# Function that groups users by age. ## Super useful in data cleaning and categorizing continuous 
 # variables into fewer buckets easier to deal with
def map_age_category(x):
    if x < 18:
        return '1'
    elif x < 25:
        return '2'
    elif x < 32:
        return '3'
    elif x < 45:
        return '4'
    else:
        return '5'

data['age_categories'] = data['Age'].apply(map_age_category) ##for each value in age, it will pply the function

In [14]:
data.head()

   Age  Gender  Impressions  Clicks  Signed_In age_categories
0   36       0            3       0          1              4
1   73       1            3       0          1              5
2   30       0            3       0          1              3
3   49       1            3       0          1              5
4   47       1           11       0          1              5

#### Sorting data

In [15]:
data.sort_index(axis=1, ascending=False).head() #axis=1 is sorting by column, no axis or 0 is default by row

  age_categories  Signed_In  Impressions  Gender  Clicks  Age
0              4          1            3       0       0   36
1              5          1            3       1       0   73
2              3          1            3       0       0   30
3              5          1            3       1       0   49
4              5          1           11       1       0   47

In [16]:
data.sort('Signed_In').head()

        Age  Gender  Impressions  Clicks  Signed_In age_categories
458440    0       0            3       0          0              1
149914    0       0            5       0          0              1
149915    0       0           10       1          0              1
149916    0       0            6       1          0              1
353762    0       0            3       0          0              1

In [17]:
ran_data = [
    ['a', 1]
    , ['b', 2]
    , ['c', 3]
]
df = pd.DataFrame(ran_data, columns=['col_a', 'numeric'])
df

  col_a  numeric
0     a        1
1     b        2
2     c        3

#### Indexing functions

Pandas Dataframes support various methods for indexing:

- .iloc
- .loc
- .ix

In [18]:
df

  col_a  numeric
0     a        1
1     b        2
2     c        3

In [19]:
# iloc accesses a row by its row number
df.iloc[0]

col_a      a
numeric    1
Name: 0, dtype: object

In [123]:
df.set_index('col_a', inplace = True) ##sets the col_a as index
df

       numeric
col_a
a            1
b            2
c            3

In [20]:
# loc accesses a dataframe row by its index label (or column label)
df.loc['a'] = 5
df.loc['b'] = 3

In [21]:
df

  col_a  numeric
0     a        1
1     b        2
2     c        3
a     5        5
b     3        3

In [22]:
# This can be used to add new columns
df.loc[:,'C'] = df.loc[:,'numeric']

df

  col_a  numeric  C
0     a        1  1
1     b        2  2
2     c        3  3
a     5        5  5
b     3        3  3

In [23]:
# is equivalent to:
df['D'] = df.loc[:,'numeric']

df

  col_a  numeric  C  D
0     a        1  1  1
1     b        2  2  2
2     c        3  3  3
a     5        5  5  5
b     3        3  3  3

.ix is the generic form of indexers

Values can be set by index and index + column

In [24]:
df.ix[2] = 2
df.ix[2, 'C'] = 3

df

  col_a  numeric  C  D
0     a        1  1  1
1     b        2  2  2
2     2        2  3  2
a     5        5  5  5
b     3        3  3  3

In [25]:
df

  col_a  numeric  C  D
0     a        1  1  1
1     b        2  2  2
2     2        2  3  2
a     5        5  5  5
b     3        3  3  3

### Combining DataFrames
#### Appending
We can append dataframes together

In [26]:
df_combine = df.append(df)
df_combine

  col_a  numeric  C  D
0     a        1  1  1
1     b        2  2  2
2     2        2  3  2
a     5        5  5  5
b     3        3  3  3
0     a        1  1  1
1     b        2  2  2
2     2        2  3  2
a     5        5  5  5
b     3        3  3  3

In [27]:
# When DataFrames are appended together, we often need to create a new index
df_combine.reset_index()

  index col_a  numeric  C  D
0     0     a        1  1  1
1     1     b        2  2  2
2     2     2        2  3  2
3     a     5        5  5  5
4     b     3        3  3  3
5     0     a        1  1  1
6     1     b        2  2  2
7     2     2        2  3  2
8     a     5        5  5  5
9     b     3        3  3  3

#### Join lets us join together dataframes using their index

In [28]:
df_2 = pd.DataFrame([1, 2, 3], columns=['col'])
df_2

   col
0    1
1    2
2    3

In [29]:
# The default is left join, so Null values are placed
# where values are misssing
df.join(df_2)

  col_a  numeric  C  D  col
0     a        1  1  1    1
1     b        2  2  2    2
2     2        2  3  2    3
a     5        5  5  5  NaN
b     3        3  3  3  NaN

In [31]:
# reset the index
df_1 = df.reset_index()
df_1

  index col_a  numeric  C  D
0     0     a        1  1  1
1     1     b        2  2  2
2     2     2        2  3  2
3     a     5        5  5  5
4     b     3        3  3  3

In [32]:
# try joining again:
df_1.join(df_2)

  index col_a  numeric  C  D  col
0     0     a        1  1  1    1
1     1     b        2  2  2    2
2     2     2        2  3  2    3
3     a     5        5  5  5  NaN
4     b     3        3  3  3  NaN

#### Merge allows us to join on any fields

In [33]:
# Merge has a default of inner join
# So where the join misses rows are omitted
df.merge(df_2, left_on='numeric', right_on='col')

  col_a  numeric  C  D  col
0     a        1  1  1    1
1     b        2  2  2    2
2     2        2  3  2    2
3     3        3  3  3    3

### Concat combines a list of DataFrames together

In [34]:
# It can be used like append
pd.concat([df, df])

  col_a  numeric  C  D
0     a        1  1  1
1     b        2  2  2
2     2        2  3  2
a     5        5  5  5
b     3        3  3  3
0     a        1  1  1
1     b        2  2  2
2     2        2  3  2
a     5        5  5  5
b     3        3  3  3

In [35]:
# But concat will create a spare DataFrame when columns don't match
# This can create huge dataframes when mismatches occur
pd.concat([df, df_2]) ##concat doesn't care about the columns matching so can create sparse df

    C   D  col col_a  numeric
0   1   1  NaN     a        1
1   2   2  NaN     b        2
2   3   2  NaN     2        2
a   5   5  NaN     5        5
b   3   3  NaN     3        3
0 NaN NaN    1   NaN      NaN
1 NaN NaN    2   NaN      NaN
2 NaN NaN    3   NaN      NaN

## Exercise 2
### Combining numpy and pandas

1) Create 2 arrays of integers

One should be created using np.random

In [70]:
import numpy as np
a = np.array([[1,2],[5,6]])
b = np.random.rand(2,2)
print a
print b

[[1 2]
 [5 6]]
[[ 0.94382959  0.4027728 ]
 [ 0.45944587  0.58298883]]

2) Turn those arrays into pandas DataFrames

The columns can be named numerically

In [71]:
new_df1 = pd.DataFrame(a, columns=['col_a', 'col_b'])
new_df1

   col_a  col_b
0      1      2
1      5      6

In [72]:
new_df2 = pd.DataFrame(b,columns=['col_1','col_2'])
new_df2

      col_1     col_2
0  0.943830  0.402773
1  0.459446  0.582989

In [80]:
new_df1.loc[2,:] = new_df2.loc[1,:]
new_df1

   col_a  col_b
0      1      2
1      5      6
2    NaN    NaN

3) Use some of the summary functions on the dataframes and arrays

Show how mean and var give the same response in python and numpy

In [74]:
new_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 2 columns):
col_a    2 non-null int64
col_b    2 non-null int64
dtypes: int64(2)
memory usage: 48.0 bytes

In [75]:
new_df1.describe()

          col_a     col_b
count  2.000000  2.000000
mean   3.000000  4.000000
std    2.828427  2.828427
min    1.000000  2.000000
25%    2.000000  3.000000
50%    3.000000  4.000000
75%    4.000000  5.000000
max    5.000000  6.000000


4) Add an extra index using .loc

In [78]:
new_df1

   col_a  col_b
0      1      2
1      5      6

5) Using merge or join, create a single DataFrame from the two

6) Try testing out the groupby functions

df.groupby(column).agg (agg can be an aggregate function, try sum, max, min...)

Resources can be found here: http://pandas.pydata.org/pandas-docs/stable/10min.html#grouping

## Plotting!

In [ ]:
import pandas.io.data
import datetime
import matplotlib.pyplot as plt

%matplotlib inline

mu, sigma = 0, 0.1
normal_dist = np.random.normal(mu, sigma, 1000)
aapl = pd.io.data.get_data_yahoo('FB', 
                                 start=datetime.datetime(2015, 4, 1), 
                                 end=datetime.datetime(2015, 4, 28))
aapl.head()

## MatPlotLib

MatPlotLib is a standard, granular method for building visualizations. Although tried and true, it can be cumbersome compared to other higher level packages such as Seaborn or Bokeh. Note most visualization packages use matplotlib as their base.

In [ ]:
fig = plt.figure(figsize=(20,16))

ax = fig.add_subplot(2,2,1)
ax.plot(aapl.index, aapl['Close'])
ax.set_title('Line plots', size=24)

ax = fig.add_subplot(2,2,2)
ax.plot(aapl['Close'], 'o')
ax.set_title('Scatter plots', size=24)

ax = fig.add_subplot(2,2,3)
ax.hist(normal_dist, bins=50)
ax.set_title('Histograms', size=24)
ax.set_xlabel('count', size=16)

ax = fig.add_subplot(2,2,4)
ax.boxplot(normal_dist)
ax.set_title('Boxplots', size=24)

### Bokeh
To install Bokeh, go to a terminal and type:

`conda install bokeh` 

Bokeh is built by the same people that created Anaconda (Continuum Analytics) and is designed out of the box for web display, making it nice for creating presentation ready, interactive visuals quickly. Labs in this course will be shown in Bokeh. Checkout http://bokeh.pydata.org/en/latest/docs/quickstart.html#concepts to see some of the range of capabilities.

In [ ]:
from bokeh.plotting import figure, output_notebook,show
output_notebook()

In [ ]:
# prepare some data
x = aapl.Low
y = aapl['High']

# create a new plot with a title and axis labels
p = figure(title="Stock High vs. Low", x_axis_label='Low', y_axis_label='High')

# add a line renderer with legend and line thickness
p.circle(x, y, legend="High vs. Low", line_width=2)

# show the results
show(p)

In [ ]:
x = aapl.index
y = aapl.Close
p = figure(title="Stock Open & Close over time", x_axis_label='Date', y_axis_label='High',x_axis_type="datetime")
# Note that I've declared the x_axis_type
p.square(x, y, legend="Close")
p.circle(x,aapl.Open,legend='Open',color='red')
# show the results
show(p)

## Pandas Plotting!

The plot method is a great, quick way to visualize your dataframes. By selecting the columns you care to view, calling .plot() on the dataframe defaults to a line chart vs. the index.

We will be revisiting this so just take a second to appreciate what can be done with one line of code.

In [ ]:
aapl[['Open','Close']].plot()

In [ ]:
aapl[['High','Low','Open','Close']].plot(kind='box')